.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.paren, .brace, .bracket, .unmatchBracket {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: blue;
}

.comment {
    -fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.paragraph-text {
    -fx-tab-size: 4;
}

.lineno {
    -fx-font-style: normal;
}

.matchBracket {
    -rtfx-background-color: firebrick;
    -fx-fill: white;
}